<!DOCTYPE html>
<html>
<head>

</head>
<style>

  div {
    background: white;
    position: absolute;
    top:50%;
    left:50%;
    font: 32px arial, sans-serif;
    padding:15px;
    background-color: #A9DDA9;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

  body {
    background-color: #A9DDA9;
  }
</style>
<body>


<div class="content">
  These are not the Elfs you are looking for.
</div>


</body>
</html>
